body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00b09b, #96c93d);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    color: white;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 200px;
}

.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    box-sizing: border-box;
    height: 240px;
    overflow: hidden;
    transition: height 0.5s ease;
}

.container:hover {
    height: 400px; 
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hidden-content {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container:hover .hidden-content {
    opacity: 1;
}

h1 {
    font-size: 10rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
    margin-top: 5px;
}

p {
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
    margin-bottom: 10px;
}

a:hover {
    background: rgba(0, 0, 0, 0.5);
}

footer {
    margin-top: auto;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
}

@media (max-width: 600px) {

    h1 {
        font-size: 2rem;
    }

    p, a {
        font-size: 1rem;
    }

    a {
        padding: 8px 16px;
    }
}
.mobile .container {
    display: none;
}

.mobile body {
    display: none;
}
.mobile h1 {
    font-size: 1.5rem;
}

.mobile h2 {
    display: none;
}

.mobile p {
    display: none;
}

.mobile a {
    display: none;
}
